<div class="container my-5">
  
  <div class="d-flex flex-column align-items-stretch flex-shrink-0">
    <div href="/" class="d-flex align-items-center flex-shrink-0 py-3 link-dark text-decoration-none border-bottom">
      <input class="form-control fs-5 fw-semibold w-25" type="text" placeholder="username" [(ngModel)]="username" />
    </div>
    <div class="list-group list-group-flush border-bottom scrollarea">
      <div href="#" class="py-3 lh-tight"
        *ngFor="let msg of messages"
      >
        <div class="d-flex w-100 align-items-center justify-content-between">
          <p class="username-box"><strong class="mb-1">{{ msg.username }}</strong></p>
        </div>
        <div class="d-flex justify-center align-items-center col-10 mb-1">
          <div class="msg-box">
            <p class="small mb-0" ng-style='{ background: msg.active && "red" }'>{{ msg.message }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <form class="mt-3" (submit)="submit();">
    <input [(ngModel)]="message" name="message" class="form-control" type="text" placeholder="Write a message" >
  </form>

</div>